*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #222;
    font-weight: 900;
    /* background-image: url(/img/11.jpg); */
}
.card{
    width: 90% ;
    max-width: 450px;
    margin: 100px, auto 0;
    background: linear-gradient(135deg,#2d3869, #2a3142);
    border-radius: 20px;
    padding: 40px;
    margin-top: 100px;
    text-align: center;
    margin-left: 100px;
    align-items: center;
}
.search {
    width: 100%;
    display: flex;
    border: #00feba;
    align-items:center ;
    justify-content: space-between;

}
.citytext{
    border: 0;
    outline: 0;
    color: gray;
    padding: 10px 25px;
    height: 45px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    flex: 1;
    font-size: 18px;
}
.search_btn{
    border: 0;
    outline: 0;
    color: rgb(255, 255, 255);
    background-color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.search_btn img{
    width: 26px;
}
.weatherIcon{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.temp{
    margin-top: 30px;
    font-size: 80px;
    font-weight: 800;
}
.cityname{
    font-size: 45px;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.details img{
    height: 55px;
    width: 55px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.windspeed, .humidity{
    font-size: 20px;
}
